@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

/* 색깔 변수화 */
:root {
    --purple: #5B2386;
    --yellow: #FCEE21;
    --white: #ffffff;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

/* 글씨 크기 */
html {
    font-size: 10px;
    font-family: GmarketSansMedium;
}

.wrap {
    width: 100%;
    height: 100%;
    background-color: var(--purple);
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
}

.tit {
    position: relative;
    margin-top: 145px;
    height: auto;
}
.tit-clock {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 225px;
}

.tit-text {
    position: absolute;
    top: 54px;
    left: 50%;
    transform: translate(-50%);
    height: 112px;
    width: 529.6px;
}

.sub-title {
    margin-top: 60px;
    font-size: 3.6rem;
    line-height: 4rem;
    color: #F5DF4D;
    font-family: OTEnjoystoriesBA;
}

.explain {
    color: #ffffff;
    font-size: 1.7rem;
    line-height: 2.8rem;
    font-style: normal;
    width: 493px;
    margin: 78px auto 0;
    text-align: center;
    background-image: url('../img/quotes.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 10px;
}

.explain strong {
    font-size: 2.4rem;
    font-weight: 700;
}

.text {
    color: #ffffff;
    font-size: 24px;
    margin-top: 102px;
}

.text input {
    display: inline-block;
    border-radius: 7px;
    border: none;
    font-size: 2.4rem;
    color: #babcbe;
    padding: 17px 41px 16px 39px;
    margin: 0 17px;
}

.how-much {
    margin-top: 27px;
}

.start {
    margin-top: 115px;
    background-color: var(--yellow);
    color: var(--purple);
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 700;
    border: none;
    border-radius: 56px;
    padding: 21px 49px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.result {
    margin-top: 147px;
    color: var(--white);
    font-size: 2.4rem;
    line-height: 7.2rem;
}

.result strong {
    font-size: 7.2rem;
    font-weight: 700;
}

.menu {
    margin-top: 127px;
}

.menu button {
    color: var(--purple);
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 700;
    border-radius: 56px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 21px 49px;
}

.go {
    background-color: var(--yellow);
}

.share {
    background-color: var(--white);
}

footer {
    margin-top: 136px;
}

.copyright {
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 20px 0  80px;
}

.modal {
    position: absolute;
    left: 50%;
    top: calc(50% + 960px);
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.modal-title {
    text-align: center;
    margin-top: 76px;
    color: var(--purple);
    font-family: OTEnjoystoriesBA;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 106px;
}

.modal-sub-title {
    text-align: center;
    margin-top: 4px;
    color: var(--purple);
    font-family: OTEnjoystoriesBA;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.modal img {
    display: block;
    margin: 0 auto;
    margin-top: 29px;
}

.go-training {
    display: block;
    margin: 74px auto 68px;
    padding: 21px 49px;
    background-color: var(--yellow);
    color: var(--purple);
    font-weight: 700;
    font-size: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
}

@media screen and (max-width: 360px) {
    .container {
        width: 100%;
    }
    .tit-text,
    .explain {
        width: 100%;
    }

    .explain,
    .explain strong {
        font-size: 1.4rem;
    }

    .sub-title {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }
    .modal {
        width: 330px;
        height: 500px;
    }

    .start {
        border-radius: 13px;
        padding: 19px 36.5px 17px;
        font-size: 1.4rem;
        line-height: 1.4rem;
        margin-top: 49px;
    }
}